<h1>APIs <small>Galeria de APIs</small></h1>
<div class="row">	
	<ul class="thumbnails">

		<li class="span4">
			<div class="thumbnail">
				<img src="/imagenes/default-logo.png" style="width: 225px; height: 150px;" Title="Servicio Meteorológico Nacional" alt="Logo del SMN"/>
				<div class="caption">
					<h4>Servicio Meteorológico Nacional</h4>
					<p>Consulte el Clima actual de una ciudad. Obtenga el listado de Ciudades disponibles.</p>
					<p>Estado: <span class="label label-info">No implementada</span></p>
					<p>Fuente: <a href="http://www.smn.gov.ar"  target="_blank">SMN</a></p>
					<p>Formatos de Respuesta: <span class="label">JSON</span> <span class="label">XML</span> <span class="label">TXT</span> <span class="label">CSV</span></p>
					
					<p><a href="#" class="btn btn-primary">Documentación</a> <a href="#" class="btn">URL de Consulta</a></p>
				</div>
			</div>
		</li>

		<li class="span4">
			<div class="thumbnail">
				<img src="/imagenes/default-logo.png" style="width: 225px; height: 150px;" Title="Ambito" alt="Logo de Ámbito"/>
				<div class="caption">
					<h4>Cotización de Divisas</h4>
					<p>Consulte la cotización del Dolar, Dolar Blue, Real,etc junto con su variación diaria. </p>
					<p>Estado: <span class="label label-warning">Experimental</span></p>
					<p>Fuente: <a href="http://www.ambito.com/" target="_blank">Ámbito Financiero</a>, ...</p>
					<p>Formatos de Respuesta: <span class="label">JSON</span> <span class="label">XML</span> <span class="label">TXT</span> <span class="label">CSV</span></p>
					<p><a href="#" class="btn btn-primary">Documentación</a> <a href="/api/divisas/" class="btn">URL de Consulta</a></p>
				</div>
			</div>
		</li>

		<li class="span4">
			<div class="thumbnail">
				<img src="/imagenes/default-logo.png" style="width: 225px; height: 150px;" Title="Yahoo! Finanzas Argentina" alt="Logo de Yahoo! Finanzas Argentina"/>
				<div class="caption">
					<h4>Cotización de Acciones</h4>
					<p>Consulte la cotización de las Acciones de las principales empresas, y su variación diaria</p>
					<p>Estado: <span class="label label-success">Estable</span></p>
					<p>Fuente: <a href="http://ar.finanzas.yahoo.com/" target="_blank">Yahoo! Finanzas Argentina</a></p>
					<p>Formatos de Respuesta: <span class="label">JSON</span> <span class="label">XML</span> <span class="label">TXT</span> <span class="label">CSV</span></p>
					<p><a href="#" class="btn btn-primary">Documentación</a> <a href="/api/acciones/" class="btn">URL de Consulta</a></p>
				</div>
			</div>
		</li>

		<li class="span4">
			<div class="thumbnail" >
				<img src="/imagenes/default-logo.png" style="width: 225px; height: 150px;" Title="Gmail" alt="Logo de Gmail"/>
				<div class="caption">
					<h4>Gmail (No leidos)</h4>
					<p>Consulte si posee mails no leidos de una cuenta. Por cada mail se muestra una un pequeño resumen del contendio e información relativa a el.</p>
					<p>Estado: <span class="label label-warning">Experimental</span></p>
					<p>Fuente: <a href="http://gmail.com" target="_blank">Gmail</a></p>
					<p>Formatos de Respuesta: <span class="label">JSON</span> <span class="label">XML</span> <span class="label">TXT</span> <span class="label">CSV</span></p>
					<p><a href="#" class="btn btn-primary">Documentación</a> <a href="/api/gmail/" class="btn">URL de Consulta</a></p>
				</div>
			</div>
		<li class="span4">
			<div class="thumbnail" >
				<img src="/imagenes/default-logo.png" style="width: 225px; height: 150px;" Title="Personal Argentina" alt="Logo de Personal Argentina"/>
				<div class="caption">
					<h4>Personal Argentina</h4>
					<p>Consulte el saldo de un cliente. Vea las últimas operaciones (historial) de recargas de crédito.</p>
					<p>Estado: <span class="label label-info">No implementada</span></p>
					<p>Fuente: <a href="#" target="_blank">Personal Argentina</a></p>
					<p>Formatos de Respuesta: <span class="label">JSON</span> <span class="label">XML</span> <span class="label">TXT</span> <span class="label">CSV</span></p>
					<p><a href="#" class="btn btn-primary">Documentación</a> <a href="#" class="btn">URL de Consulta</a></p>
				</div>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" >
				<img src="/imagenes/default-logo.png" style="width: 225px; height: 150px;" Title="Peliculas (IMDB)" alt="Logo de Personal Argentina"/>
				<div class="caption">
					<h4>Peliculas (IMDB)</h4>
					<p>Consulte acerca de títulos de peliculas. </p>
					<p>Estado: <span class="label label-info">No implementada</span></p>
					<p>Fuente: <a href="#" target="_blank">IMDB</a></p>
					<p>Formatos de Respuesta: <span class="label">JSON</span> <span class="label">XML</span> <span class="label">PLANO</span></p>
					<p><a href="#" class="btn btn-primary">Documentación</a> <a href="#" class="btn">URL de Consulta</a></p>
				</div>
			</div>
		</li>

	</ul> 	 	 	 	 	
</div>
<br/><br/><p>Todos los logos que aparecen es este sitio web pertenecen y son propiedad de sus respectivos dueños.</p>
<%- contentFor('notificacion') %>
