<h1>Uhhh! :( <small>Error 404</small></h1>
	<br/><br/>
	<div class="well">		
		La URL solicitada no existe o está mal formada:<br/>
		<center><tt><strong><i><%=url%></i></strong></tt></center>
	
	</div>
<%- contentFor('notificacion') %>
