<h1>Algo anda mal... :( <small>Error 500</small></h1>
	<br/><br/>
	<div class="well">		
		<p>Se ha producido un error interno en <span class="libre">API</span><span class="ware">Rest</span>.</p>
		<p>El motivo: <p>
		<center><tt><strong><i><%=mensaje%></i></strong></tt></center>
	
	</div>
<%- contentFor('notificacion') %>
