
<div class="cabecera">
	<tt>
	{<span class="libre">API</span><span class="ware">Rest</span>}
	</tt>
</div>
<h2>
	Comience ahora visitando las <a href="/apis" class="btn btn-large btn-inverse">APIs</a> disponibles.<br/>
	<span class="muted">{ y úselas libremente }.</span>
</h2>
<br/><br/>
<hr>
<div class="row">
	<div class="span6">
		<h3>¿Que es <span class="libre">API</span><span class="ware">Rest</span>?</h3>
		<p>Es un servicio web en el cual se implementan variadas APIs, y se permite su utilización libremente. Está pensado para ser <strong>amigable</strong> para los programadores, proveyendo de una Documentación adecuada y una Interfaz Rest simple de usar.</p>
		<p>Los formatos de las respuestas a las consultas es <span class="label">JSON</span>, pudiendo estar disponibles también en otros como <span class="label">XML</span>, <span class="label">Texto Plano</span> (UTF-8 Unix) y/o <span class="label">CSV</span>.</p>
	</div>

	<div class="span6">
		<h3>Motivación:</h3>
		<p><span class="libre">API</span><span class="ware">Rest</span> nace de la necesidad de procesar datos que se encuentran en diversos sitios web, los cuales no proveen de una API a los Programadores/Usuarios. En este sitio, intentamos implementar una, asi el usuario se beneficia de no tener que procesar HTML crudo, preocuparse por sus cambios, etc.</p>
		<p>También desde aquí es posible simplificar o agregar alguna característica a una API existente.</p>
	</div>
	
	<div class="span6">
		<h3>¿En que me puede servir?</h3>
		<p>Obtener mas cómodamente un dato, puede facilitar la implementación de aplicaciones y/o su utilización en contextos diversos, ya sea a nivel de un simple usuario como de un desarrollador de aplicaciones.</p>
		<p>Por ejemplo:</p>
		<ul>
			<li>Integración de información relevante en Sitios Web (blogs, personal,etc..).</li>
			<li>Puede usarse como una capa abstracta, cómoda y actualizada dentro de una aplicación.</li>
			<li>Procesar datos mas facilmente, al estar disponibles en formato <span class="label">Plano</span>, ya sea con <a href="http://es.wikipedia.org/wiki/Bash" target="_blank">Bash</a> (Linux), diversos Scripts, Plugins de aplicaciones, etc.</li>
			<li>Etc..</li>
		</ul>
	</div>

</div>

<%- contentFor('notificacion') %>

